/* styles.css */

/* Include normalize.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Reset default styles */
body,
h1,
button,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Your existing styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

.div {
  width: 200px;
}

h1 {
  font-size: 80px;
  color: #080808;
  text-align: center;
  padding: 5px;
}

main {
  text-align: center;
  padding: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: #04716d;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #044218;
}

.image-container {
  display: inline;
  justify-content: center;
  margin-bottom: 20px;
}

.landing-image {
  max-width: 35%;
  max-height: 35%;
}